@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "./styles/base.css";
@import "./styles/header.css";
@import "./styles/hero.css";
@import "./styles/about.css";
@import "./styles/components.css";
@import "./styles/projects.css";
@import "./styles/experience.css";
@import "./styles/contact.css";
@import "./styles/footer.css";
